
ion-title{
  text-align: center;
}
.form-login ion-input{
  max-width: 300px;
  margin: 0 auto;
}

.login-button{
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px
}
.button-native{
  margin-top: 20px;
}

.text-button-login{
  text-align: center;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;

}